<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"  *ngIf="loggedIn()">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Matches</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Lists</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Messages</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="navbar-form navbar-right" (ngSubmit)="login()">
      <div class="form-group">
        <input type="text" placeholder="Username" required name="username" class="form-control"
        [(ngModel)]="model.username">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" required name="password" class="form-control"
        [(ngModel)]="model.password">
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">Sign in</button>
    </form>

    <ul *ngIf="loggedIn()" class="nav navbar-nav navbar-right">
      <li class="dropdown" dropdown>
        <a href="#" dropdownToggle
          aria-haspopup="true" aria-expanded="false">Welcome {{ authService.decodedToken?.unique_name | titlecase }} <span class="caret"></span></a>
        <ul class="dropdown-menu" *dropdownMenu>
          <li><a href="#"><i class="fa fa-user"></i> Edit Profile</a></li>
          <li role="separator" class="divider"></li>
          <li><a (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
